<div class="header">
	<div class="avatar">
		<img src="{{ site.baseurl }}/assets/images/diego-teixeira.jpg" />
	</div>
	<h1>
		Diego Teixeira 
		<small>Web Developer</small>
	</h1>
	<ul class="menu">
		<li><a href="{{ site.baseurl }}/"><i class="fa fa-fw fa-home"></i> <span>Início</span></a></li>
		<li><a href="#"><i class="fa fa-fw fa-user"></i> <span>Sobre</a></span></li>
		<li><a href="#"><i class="fa fa-fw fa-twitter"></i> <span>Twitter</a></span></li>
		<li><a href="#"><i class="fa fa-fw fa-facebook-official"></i> <span>Facebook</span></a></li>
		<li><a href="#"><i class="fa fa-fw fa-linkedin"></i> <span>LinkedIn</span></a></li>
	</ul>
</div>
