<div class="profile">
    <section id="wrapper">
        <header id="header">
        {% if site.aboutPage %}
            <a href="/{{ site.baseurl }}about">
                <img id="avatar" class="2x" src="http://gravatar.com/avatar/f7f4a443bd87f63da24f1a9029f71f44?size=200"/>
            </a>
        {% else %}
            <img id="avatar" class="2x" src="http://gravatar.com/avatar/f7f4a443bd87f63da24f1a9029f71f44?size=200"/>
        {% endif %}
            <h1>{{ site.author }}</h1>
            <h2>{{ site.description }}</h2>
        </header>
    </section>
</div>
